.body{
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;  
    /* background-color: aqua; */
}
.myorder{
    margin: 20px 0px;
}
.logout{
    width: 100px;
    height: 36px;
    font-size: 16px;
}